{{#section 'head'}}
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="/css/stickyfooter.css">
{{/section}}

<main class="card mx-auto">
    <div class="container">
        {{!-- <div id="loginFail" class="alert alert-warning" style="display: none">
            <strong>Login failed!</strong> Invalid credentials!
        </div>
        <div id="loginSuccess" class="alert alert-success" style="display: none">
            <strong>Login Success!</strong> Redirecting...
        </div> --}}
        <!-- code for forms from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_form_input&stacked=h -->
        <div class="row form-signin text-center justify-content-center">
            <div class="col">
                <h1>Password Reset</h1>
                <div class="pre-success-container">
                    <div class="alert alert-danger d-none" id="wrong-email">We could not find an account associated with this email. Please try again.</div>
                    <div class="alert alert-danger d-none" id="server-error">A server error has occurred. Please try again later.</div>
                    <p>Enter the email associated with your account. We will send you an email with instructions on how to reset your password.</p>
                    <div class="form-container">
                        <form method="NONE">
                            <div class="form-group">
                                <label class="text-center" for="email">Email</label>
                                <input type="email" class="form-control" id="email-input" name="email">
                            </div>

                            <input type="button" id="submitbtn" class="btn btn-primary" value="Submit" onclick="submitEmail()">
                        </form>
                    </div>
                </div>
                
                <div class="success-container d-none">
                    <p>We've sent an email to <span id="correct-email"></span> with instructions on how to reset your password. It should appear within a few minutes.</p>
                </div>
                <p>New to SBIR Connector? <a href="/register">Create an account</a>.</p>
            </div>
        </div>
    </div>
</main>

{{#section 'scripts'}}
    <script src="/js/build/runtime.js"></script>
    <script src="/js/build/submitEmail.js"></script>
{{/section}}