<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>{{title}}</title>
    {{{_sections.head}}}
</head>
<body>
    {{> nav}}
    
    {{{body}}}
    
    {{> footer}}
    {{> libs}}
    {{{_sections.scripts}}}
</body>
</html>