.row {
    margin-bottom: 30px;   
}

.name {
    font-size: 40px;
}

.user-info {
    font-size: 18px;
    
}

.picplaceholder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ddd;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: 0.5; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
}

.nav-pills {
    top: 85px;
    position: sticky;
}