<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SBIR_Connector</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/aos/aos.css" rel="stylesheet">
    <link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/topic_details.css" rel="stylesheet">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <!--==========================
    Header
  ============================-->
    <header id="header" class="header-fixed">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">SBIR_Connector</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/#about">About Us</a></li>
                    <li><a href="/#faq">Frequently Asked Questions</a></li>
                    <li><a href="/topics/1">Topics</a></li>
                    <li><a href="/#contact">Sign Up</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>

    </header>
    <!-- End of header-->
    <section class="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">

                    <h1>&nbsp; T3.02: Intelligent/Autonomous Electrical Power Systems </h1>
                    <hr>
                    <div class="row">
                        <aside class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item">Agency: Department of Commerce</li>
                                <li class="list-group-item">Branch: N/A</li>
                                <li class="list-group-item">Program: STTR</li>
                                <li class="list-group-item">Topic Number: T3.02</li>
                                <li class="list-group-item"><a href="">Official Solicitation Link</a></li>
                                <li class="list-group-item list-group-item-primary">Release Date: 01/12/18</li>
                                <li class="list-group-item list-group-item-success">Open Date: 01/12/18</li>
                                <li class="list-group-item list-group-item-danger">Close Date: 01/12/18</li>
                            </ul>
                            <br>
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Notice!</h4>
                                <p>Topic information is updated nightly - make sure to check the original source for the most current information!</p>
                                <hr>
                                <p class="mb-0">More information can be found <a href="/#faq">here</a>.</p>
                            </div>
                        </aside>
                        <div class="col-md-9 description">
                        
                            <p>Lead Center: GRC</p>
                            <p>Participating Center(s): JPL</p>

                            <p>Missions to Mars and beyond experience communication delays with Earth of between 3 to 45 minutes. Due to this, it is impractical to rely on ground-based support and troubleshooting in the event of a power system fault or component failure. Intelligent/autonomous systems are required that can manage the power system in both normal mode and failure mode. </p>

                            <p>In normal mode, the system would predict energy availability, perform load scheduling, maintain system security and status on-board and ground based personnel. One aspect of overall system autonomy would be solar array characterization, for spacecraft utilizing this technology. One drawback of current satellite systems is the lack of adequate means of determining solar panel or cell status. Being able to automatically characterize solar panel status can enhance energy availability prediction. Similar technology to access that status of battery systems would further enhance these predictions.</p>

                            <p>In failure mode, the system must identify a fault or failure and perform contingency planning to react or reconfigure the system appropriately to move it back into normal mode of operation, without human involvement. The technologies to detect and identify specific failures in both the generation, distribution and storage systems are needed along with strategies to utilize the failure data to identify recovery strategies for the power system.</p>

                            <p>With the potential of future manned missions to Mars, this technology will become increasingly important for electrical power management and distribution. Specific areas of interest include:</p>
                           
                            <ul>
                                <li>Autonomous/intelligent PMAD.</li>
                                <li>Failure detection strategies.</li>
                                <li>Recovery strategies.</li>
                                <li>Generation and storage characterization.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}


</body>

</html>
